@model FoodToGo.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.CatName)</h1>

<p>Click on items below for pricing.</p>
<div>

    @foreach (var item in ViewBag.items)
    {
    <table>
        <tr>
            <td>
                <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id">
                    @item.ItemName
                </a>
            </td>
        </tr>
    </table>
    }
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
