@model IEnumerable<FoodToGo.Models.Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h3>Thank you for choosing Food To Go!</h3>

    <a href="https://localhost:5001/Category/Index"/>Shop

